@{
    ViewData["Title"] = "DisplayTasks";
}
@model TodoTaskViewModel

@if (TempData["error"] != null)
{
    <div class="alert alert-danger" role="alert">
        SOMETHING BROKE!
    </div>
}

<h1>Tasks for @Model.ToDo.Name</h1>

<div>
    @foreach (var t in Model.Tasks)
    {
        Model.task = t;
        <ul class="list-group my-3">
            <li class="list-group-item">
                <span>
                    <label><input class="form-check-input me-1 mb-1 mt-1 " id="@t.TaskId" type="checkbox"><strong>&nbsp; Completed</strong></label>
                    <a class="btn btn-primary mt-1" style="position: absolute; right: 1%;" asp-action="DeleteTask" asp-route-id="@t.TaskId" role="button">Delete Task</a>                    
                        <button type="button" class="btn btn-primary mt-1" asp-route-id="@t.TaskId" style="position: absolute; right: 10%;" asp data-bs-toggle="modal" data-bs-target="#EditTaskModal">Edit Task</button>

                </span>
                <div>
                    <span><strong>Name: &nbsp;</strong></span>

                    <label class="form-check-label" for="@t.TaskId">@t.Name</label>
                </div>
            </li>
            <li class="list-group-item"><strong>Priority: &nbsp;</strong>@t.Priority</li>
            @if (t.Deadline != null)
            {
                <li class="list-group-item"><strong>Deadline: &nbsp;</strong>@t.Deadline.Value.ToShortDateString()</li>
            }
        </ul>
    }
</div>

<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a Task</button>
</div>


@await Html.PartialAsync("_AddTaskModal", Model.ToDo.ToDoId)
@await Html.PartialAsync("_EditTasksModal", Model.task)

@section Scripts
{

        @await Html.PartialAsync("_ValidationScriptsPartial")
}