@{
    ViewData["Title"] = "DisplayTasks";
}
@model TodoTaskViewModel

@if (TempData["error"] != null)
{
<div class="alert alert-danger" role="alert">
  SOMETHING BROKE!
</div>
}

<h1>Tasks for @Model.ToDo.Name</h1>

<div>
    @foreach (var task in Model.Tasks)
    {
        <ul class="list-group my-3">
            <li class="list-group-item">
                <span><strong>Name: &nbsp;</strong></span>
                <input class="form-check-input me-1" id="@task.TaskId" type="checkbox">
                <label class="form-check-label stretched-link" for="@task.TaskId">@task.Name</label>
            </li>
            <li class="list-group-item"><strong>Priority: &nbsp;</strong>@task.Priority</li>
            @if (@task.Deadline != null)
            {
                <li class="list-group-item"><strong>Deadline: &nbsp;</strong>@task.Deadline.Value.ToShortDateString()</li>
            }
        </ul>
    }
</div>

<div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add a Task</button>
</div>


        @await Html.PartialAsync("_AddTaskModal", Model.ToDo.ToDoId)

@section Scripts
{

        @await Html.PartialAsync("_ValidationScriptsPartial")
}